version: '3.8'

services:
  # === 后端服务 ===
  flower-backend:
    build: ./flower-mall-app  # 指定 Dockerfile 所在目录
    container_name: flower-backend
    restart: always
    ports:
      - "8091:8080"
    environment:
      - TZ=Asia/Shanghai
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/DB_flower?useUnicode=true&characterEncoding=utf-8&useSSL=false
      - SPRING_DATASOURCE_PASSWORD=123456
      - SPRING_REDIS_HOST=redis
      -  SERVER_PORT=8080
      - SPRING_MAIL_HOST=smtp.qq.com
        - SPRING_MAIL_PORT=465
        - SPRING_MAIL_USERNAME=283603198@qq.com
        - SPRING_MAIL_PASSWORD=bqvjsfeumzmjbhae
        - SPRING_MAIL_PROTOCOL=smtps
        
        - SPRING_MAIL_PROPERTIES_MAIL_SMTP_SSL_ENABLE=true
    networks:
      - my-network

  # === 前端服务 (Nginx) ===
  flower-frontend:
    image: nginx:latest
    container_name: flower-frontend
    restart: always
    ports:
      - "81:80"
    volumes:
      # 1. 挂载前端打包文件 (请确认 dist 文件夹在这里)
      - ./flower-mall-web/dist:/usr/share/nginx/html
      
      # 2. 挂载 Nginx 配置文件 (根据你的实际路径 docs/nginx/nginx.conf)
      - ./docs/dev-ops/nginx/nginx.conf:/etc/nginx/conf.d/default.conf

      # 3. 挂载图片目录 (可选，如果有的话)
      - ./flower-mall-web/public/images:/usr/share/nginx/html/images
    depends_on:
      - flower-backend
    networks:
      - my-network

# === 网络配置 ===
networks:
  my-network:
    external: true
    name: release_my-network
